<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="wrapper" style="overflow: hidden; height: auto; min-height: 100%;">
    <!-- Left side column. contains the sidebar -->
    <aside th:replace="/fragments/lev-sitebar :: lev-sitebar"/>
    <div class="content-wrapper" style="min-height: 368px;">
        <section class="content-header">
            <h1>
                Контакты

            </h1>

        </section>
        <section class="content">


            <div class="row">
                <div class="col-xs-12">
                    <form id="form" class="form-horizontal" th:action="@{/lk/Contacts}" method="post"
                          >

                        <input data-val="true" data-val-required="Требуется поле Enabled." id="Enabled" name="Enabled"
                               type="hidden" value="True" required>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="MainPhone">Основной телефон</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                    <input class="form-control" id="MainPhone" name="mainPhoneNumber" size="25" type="text"
                                           th:attr="value = ${contacts?.mainPhoneNumber}" required>
                                </div>
                                <div style="display:none">
                                    <input type="checkbox" id="phone_mask" checked="">
                                </div>
                                <span id="MainPhone_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите основной номер
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="secondPhone">Дополнительный</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                    <input class="form-control" id="secondPhone" name="SecondPhone" size="25"
                                           type="text" th:attr="value = ${contacts?.secondPhoneNumber}" required
                                        >
                                </div>
                                <span id="SecondPhone_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите дополнительный номер
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="addEmail">Дополнительный Email</label>

                            </div>
                            <div class="col-md-8 col-xs-12">

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input class="form-control" id="AddEmail" name="addEmail" type="email"
                                           th:attr="value = ${contacts?.addEmail}">
                                </div>
                                <span id="AddEmail_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите дополнительный Email
                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8 col-xs-12">
                                <h4>Адрес регистрации:</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="CountryName">Страна</label>
                                <span class="text-danger">*</span>
                            </div>
                            <!--привязать к личным данным  -->
                            <div class="col-md-8 col-xs-12">
                                <input id="CountryId" name="CountryId" type="hidden" value="193">
                                <input class="form-control" disabled="disabled" id="CountryName" name="сountryName"
                                       title="Изменить страну проживания Вы можете на странице &quot;Личные Данные&quot;"
                                       type="text" value="Россия">
                            </div>
                        </div>
                        <div class="form-group" id="Region">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="RegionId">Регион</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <select class="form-control select2-hidden-accessible" id="RegionId" name="regionId"
                                        tabindex="-1" aria-hidden="true">
                                    <option value="111">Донецкая Народная Республика</option>
                                    <option value="112">Луганская Народная Республика</option>
                                    <option value="1">Санкт-Петербург</option>
                                    <option value="2">Лен. Область</option>
                                    <option value="75">Адыгея Респ</option>
                                    <option value="77">Алтай Респ</option>
                                    <option value="41">Алтайский край</option>
                                    <option value="70">Амурская обл</option>
                                    <option value="29">Архангельская обл</option>
                                    <option value="22">Астраханская обл</option>
                                    <option value="20">Байконур</option>
                                    <option value="76">Башкортостан Респ</option>
                                    <option value="44">Белгородская обл</option>
                                    <option value="69">Брянская обл</option>
                                    <option value="24">Владимирская обл</option>
                                    <option value="45">Волгоградская обл</option>
                                    <option value="28">Вологодская обл</option>
                                    <option value="64">Воронежская обл</option>
                                    <option value="78">Дагестан Респ</option>
                                    <option value="107">Еврейская АО</option>
                                    <option value="108">Забайкальский край</option>
                                    <option value="46">Ивановская обл</option>
                                    <option value="79">Ингушская Респ</option>
                                    <option value="35">Иркутская обл</option>
                                    <option value="100">Кабардино-Балкарская Респ</option>
                                    <option value="47">Калининградская обл</option>
                                    <option value="80">Калмыкия Респ</option>
                                    <option value="48">Калужская обл</option>
                                    <option value="74">Камчатская обл</option>
                                    <option value="81">Карачаево-Черкесская Респ</option>
                                    <option value="82">Карелия Респ</option>
                                    <option value="49">Кемеровская обл</option>
                                    <option value="34">Кировская обл</option>
                                    <option value="101">Бурятия Респ</option>
                                    <option value="83">Коми Респ</option>
                                    <option value="67">Костромская обл</option>
                                    <option value="26">Краснодарский край</option>
                                    <option value="23">Красноярский край</option>
                                    <option value="109">Крым</option>
                                    <option value="50">Курганская обл</option>
                                    <option value="51">Курская обл</option>
                                    <option value="36">Липецкая обл</option>
                                    <option value="52">Магаданская обл</option>
                                    <option value="98">Марий Эл Респ</option>
                                    <option value="97">Мордовия Респ</option>
                                    <option value="19">Москва</option>
                                    <option value="38">Московская обл</option>
                                    <option value="21">Мурманская обл</option>
                                    <option value="91">Ненецкий АО</option>
                                    <option value="39">Нижегородская обл</option>
                                    <option value="53">Новгородская обл</option>
                                    <option value="27">Новосибирская обл</option>
                                    <option value="68">Омская обл</option>
                                    <option value="54">Оренбургская обл</option>
                                    <option value="55">Орловская обл</option>
                                    <option value="25">Пензенская обл</option>
                                    <option value="106">Пермский край</option>
                                    <option value="30">Приморский край</option>
                                    <option value="65">Псковская обл</option>
                                    <option value="3">Россия</option>
                                    <option value="31">Ростовская обл</option>
                                    <option value="37">Рязанская обл</option>
                                    <option value="72">Самарская обл</option>
                                    <option selected="selected" value="56">Саратовская обл</option>
                                    <option value="84">Саха (Якутия) Респ</option>
                                    <option value="57">Сахалинская обл</option>
                                    <option value="58">Свердловская обл</option>
                                    <option value="110">Севастополь</option>
                                    <option value="85">Северная Осетия Респ</option>
                                    <option value="40">Смоленская обл</option>
                                    <option value="42">Ставропольский край</option>
                                    <option value="59">Тамбовская обл</option>
                                    <option value="102">Татарстан Респ</option>
                                    <option value="73">Тверская обл</option>
                                    <option value="60">Томская обл</option>
                                    <option value="66">Тульская обл</option>
                                    <option value="86">Тыва Респ</option>
                                    <option value="61">Тюменская обл</option>
                                    <option value="105">Удмуртская Респ</option>
                                    <option value="32">Ульяновская обл</option>
                                    <option value="43">Хабаровский край</option>
                                    <option value="104">Хакасия Респ</option>
                                    <option value="94">Ханты-Мансийский АО</option>
                                    <option value="33">Челябинская обл</option>
                                    <option value="87">Чеченская Респ</option>
                                    <option value="103">Чувашская Респ</option>
                                    <option value="95">Чукотский АО</option>
                                    <option value="99">Ямало-Ненецкий АО</option>
                                    <option value="62">Ярославская обл</option>
                                    <option value="18">Азербайджан</option>
                                    <option value="17">Армения</option>
                                    <option value="9">Белоруссия</option>
                                    <option value="16">Грузия</option>
                                    <option value="11">Казахстан</option>
                                    <option value="12">Киргизия</option>
                                    <option value="15">Таджикистан</option>
                                    <option value="14">Туркменистан</option>
                                    <option value="13">Узбекистан</option>
                                    <option value="10">Украина</option>
                                    <option value="5">Латвия</option>
                                    <option value="6">Литва</option>
                                    <option value="7">Молдова</option>
                                    <option value="4">Эстония</option>
                                    <option value="8">Далн. зарубеж.</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                               style="width: 100%;"><span class="selection"><span
                                    class="select2-selection select2-selection--single" role="combobox"
                                    aria-haspopup="true" aria-expanded="false" tabindex="0"
                                    aria-labelledby="select2-RegionId-container"><span
                                    class="select2-selection__rendered" id="select2-RegionId-container"
                                    title="Саратовская обл">Саратовская обл</span><span class="select2-selection__arrow"
                                                                                        role="presentation"><b
                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                                       aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="City">Город</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <input class="form-control ui-autocomplete-input" id="City" name="city"
                                        type="text"
                                       th:attr="value = ${contacts?.city}"  autocomplete="off" >

                        Введите город
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="street">Улица</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <input class="form-control" id="street" name="street"
                                        type="text" th:attr="value = ${contacts?.street}">
                                <span id="Street_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите улицу
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="House">Дом</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <input class="form-control" id="House" name="house"  type="text" th:attr="value = ${contacts?.house }">
                                <span id="House_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите дом
                    </span>
                            </div>
                            <div class="col-md-2 col-xs-12 control-label">
                                <label for="flat">Квартира</label>

                            </div>
                            <div class="col-md-3 col-xs-12">
                                <input class="form-control" id="flat" name="flat"  type="number" th:attr="value = ${contacts?.flat }">
                                <span id="Flat_Message" class="field-validation-valid text-danger"
                                      style="display:none"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-xs-12 control-label">
                                <label for="postIndex">Индекс</label>
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <input class="form-control" id="postIndex" name="postIndex" type="text" th:attr="value = ${contacts?.postIndex }" required>
                                <span id="PostIndex_Message" class="field-validation-valid text-danger"
                                      style="display:none">
                        Введите индекс
                    </span>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8 col-xs-12">
                                <h4>Общежитие</h4>
                                <label style="display:none;">
                                    <input data-val="true" data-val-required="Требуется поле HostelAbit."
                                           id="HostelAbit" name="hostelAbit" type="checkbox" th:checked="${contacts?.hostelAbit}">
                                    Нуждаюсь в общежитии на время поступления
                                </label>
                                <br>



                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-9 col-md-2 col-xs-offset-6 col-xs-6">
                                <button id="btnSubmit" class="btn btn-block btn-success" type="submit">
                                    Далее
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </section>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>