<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h4>admin</h4>
    <table>
        <tr>
            <th>Email</th>
            <th>Номер телефона</th>
            <th>Активность</th>
            <th>Роли</th>
            <th>Редактирование</th>
            <th>Подробнее</th>

        </tr>

        <!--<li th:utext="${flower}">..</li>-->


                <tr th:each="user : ${allUsers}" >
                    <th th:text="${user.getEmail()}"></th>
                    <th th:text="${user.getPhoneNumber()}"></th>
                    <th th:text="${user.isEnabled()}">active</th> <!--? #{true} : #{false} -->
                    <!-- <th th:text="${user.getActive()}"></th> -->
                     <th th:text="${user.getRoles()}">role</th>
                     <!-- <th th:utext="${user.role}"><#list user.roles as role>${role}</#list></th>-->
                       <th>
                           <form th:action="@{/admin/user/disable/{id}(id=${user.getId()})}">
                               <input type="submit" value="Деактивировать">
                           </form>
                       </th>
                       <th><a th:href="@{/admin/user/edit/{id}(id=${user.getId()})}">Редактирование</a></th>
                       <th><a th:href="@{/user/{id}(id=${user.getId()})}">Подробнее</a></th>
                   </tr>-->

        <!-- <#else>
         <p>пользователей нет</p>-->

    </table>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>