<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h3 style="margin:0 auto;">Список заявлений <strong > </strong></h3>
  <div th:each="app,state:${applications}">
      <b th:text="${state.count}" style="margin:5px 8px"></b>
      <span th:text="${app.user.getPersonalInfo().getSnils()}"></span>
      <a th:href="@{/user/{id}(id=${app.user.getId()})}" th:target="_blank"  > посмотреть</a>



  </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>