<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
  <div th:each="app:${applications}">

          <span th:text="${app.snils}"></span>
          <span th:text="${app.registered}"></span>


  </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>