<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container mx-auto w-75 align-items-center ">

    <h5>Направления</h5>

    <div th:each="inst:${institute}">
        <p th:text="${inst.title}"></p>
        <span th:text="${inst.description}">        </span>

        <a th:href="@{/institute/{abbr}(abbr=${inst.getAbbr()})}">об</a>
    </div>


<!-- перенос в superAdmin panel -->
    <div class="mx-auto w-25">
<h3>Добавить институт</h3>

<form th:action="@{/institute/create}" method="post"  class="align-items-center b" enctype="multipart/form-data">
    Название института : <input type="text" name="title" class="form-control">
    Сокращение института : <input type="text" name="abbr" class="form-control">
    Описание : <input type="text" name="description" class="form-control">
    Директор института : <input type="text" name="director" class="form-control">
    Контакты звание института : <input type="text" name="contacts" class="form-control">
    Фото: <input type="file" name="file">

    <input type="submit" class="btn btn mt-1" value="добавить">
</form>
    </div>


<div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>